<div class="videolist__container">

    <h2>Official Music Videos</h2>
    <div class="videolist__description">
        Original Music Videos featuring music written and produced by Boyce Avenue.
    </div><!-- /carsousel__description -->

    <div class="videolist">
        <div class="video__item">
            <div class="video__thumbnail">
                <img src="/images/video-thumbnail-01.jpg" />
            </div><!-- /video__thumbnail -->
            <div class="video__info">
                <h4>There's Nothing Holdin' Me...</h4>
                <h5>Boyceavenue</h5>
                <div class="status">
                    <span class="view__status">662,826</span> <span>2 day ago</span>
                </div>
            </div><!-- /video__info -->
        </div><!-- /video__item -->

        <div class="video__item">
            <div class="video__thumbnail">
                <img src="/images/video-thumbnail-02.jpg" />
            </div><!-- /video__thumbnail -->
            <div class="video__info">
                <h4>There's Nothing Holdin' Me...</h4>
                <h5>Boyceavenue</h5>

                <div class="status">
                    <span class="view__status">662,826</span> <span>2 day ago</span>
                </div>
            </div><!-- /video__info -->
        </div><!-- /video__item -->

        <div class="video__item">
            <div class="video__thumbnail">
                <img src="/images/video-thumbnail-03.jpg" />
            </div><!-- /video__thumbnail -->
            <div class="video__info">
                <h4>There's Nothing Holdin' Me...</h4>
                <h5>Boyceavenue</h5>

                <div class="status">
                    <span class="view__status">662,826</span> <span>2 day ago</span>
                </div>
            </div><!-- /video__info -->
        </div><!-- /video__item -->

        <div class="video__item">
            <div class="video__thumbnail">
                <img src="/images/video-thumbnail-04.jpg" />
            </div><!-- /video__thumbnail -->
            <div class="video__info">
                <h4>There's Nothing Holdin' Me...</h4>
                <h5>Boyceavenue</h5>

                <div class="status">
                    <span class="view__status">662,826</span> <span>2 day ago</span>
                </div>
            </div><!-- /video__info -->
        </div><!-- /video__item -->


    </div><!-- /videolist -->

</div><!-- /videolist__container -->
