<div class="carousel__container">

    <h2>Official Music Videos</h2>
    <div class="carousel__description">
        Original Music Videos featuring music written and produced by Boyce Avenue.
    </div><!-- /carsousel__description -->

    <div class="carousel">
        <div class="carsousel__item">
            <img src="" />
            <h4>There's Nothing Holdin' Me...<h4>

            <div class="status">
            </div>
        </div>
    </div><!-- /carsousel -->

</div><!-- /carsousel__container -->
