<div class="sidebar">

    <div class="sidebar__block">
        <h3>Main</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">My channels</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Subscriptions</a></li>
        </ul>
    </div><!-- /sidebar__block -->

    <div class="sidebar__block">
        <h3>Library</h3>
        <ul>
            <li><a href="#">History</a></li>
            <li><a href="#">Watch Later</a></li>
            <li><a href="#">Liked Videos</a></li>
        </ul>
    </div><!-- /sidebar__block -->
    
    <div class="sidebar__block">
        <h3>Subscriptions</h3>
    </div><!-- /sidebar__block -->

</div><!-- /sidebar -->
