@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.pagebody {
    width: 100%;
    padding-top: 70px;
    display: flex;

    .maincontent {
        width: 80%;
        .pagebanner {
            width: 100%;
            min-height: 305px;
            background: url(/images/banner.jpg) no-repeat center;
            background-size: cover;


        }//pagebanner

        .__container {
            margin: 0 auto;
            max-width: 980px;
            padding: 40px;
            position: relative;
            top: -57px;
            background-color: rgba(255,255,255,1);
        }//content__container
    }//maincontent
}//pagebody


.homepage {
  text-align: center;
}

.homepage__title {
  font-size: 1.8rem;
  font-weight: bold;
  color: $color-green;
}

.homepage__paragraph {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.homepage__content {
  @include center-xy;
}
