@import '~stylesheets/common/variables';

.pagenav {
    display: inline-block;
    vertical-align: middle;
    ul {
        li {
            display: inline-block;
            padding: 0 20px;
            a {
                display: block;
                padding: 10px 0;
                color: #434f74;
                font-weight: bold;
                transition: color 0.4s ease;
                &:hover {
                    color: $color-highlight2;
                }
                &.active {
                    border-bottom: 2px solid #719dff;
                }
            }//a
        }//li
    }//ul
}//pagenav
